[user]
	name = Brent Lintner
	email = brent.lintner@gmail.com

[commit]
	template = ~/.gitmessage
	gpgsign = false

[merge]
	keepbackup = false
	tool = meld

[diff]
	tool = meld

[color]
	branch = auto
	diff = auto
	status = auto

[color "branch"]
	current = yellow reverse
	local = yellow
	remote = green

[color "diff"]
	meta = yellow bold
	frag = magenta bold
	old = red bold
	new = green bold

[color "status"]
	added = yellow
	changed = green
	untracked = cyan

[alias]
	l = "!tig"
	p = pull
	s = status
	cm = commit
	br = branch
	co = checkout
	d = diff
	a = add
	re = rebase
	pushf = push --force-with-lease
[github]
	user = brentlintner
[rerere]
	enabled = false
[status]
	showUntrackedFiles = all
[achievement]
	upload = true
[push]
	default = current
	autoSetupRemote = true
[core]
	autocrlf = false
	pager = less
[pager]
	branch = false
[pull]
	rebase = true
[rebase]
	autoStash = true
[init]
	defaultBranch = main
[filter "lfs"]
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
	clean = git-lfs clean -- %f
[init]
	defaultBranch = main
[protocol "file"]
	allow = always
