# /etc/udev/rules.d/powersave.rules
SUBSYSTEM=="power_supply", ATTR{online}=="0", RUN+="/usr/local/bin/xps-ac-on"
SUBSYSTEM=="power_supply", ATTR{online}=="1", RUN+="/usr/local/bin/xps-ac-off"
