[Unit]
Description=Sync current core and aur pkg list to a file in my home dir

[Service]
ExecStart=/usr/local/bin/pkg-list-run-daily
StandardOutput=journal

[Install]
WantedBy=multi-user.target
