[Unit]
Description=Run timeshift-archive service every 7 days and at boot

[Timer]
OnBootSec=60min
OnCalendar=Mon *-*-* 00:00:00

[Install]
WantedBy=timers.target
